SYNTHETIC_USERNAME=synthetic@lab.jmal.io
SYNTHETIC_PASSWORD=<from vault: secret/synthetics/crucible/password>
SYNTHETIC_BASE_URL=https://crucible.jmal.io
SYNTHETIC_LIFECYCLE_ENABLED=true
SYNTHETIC_EXPECT_MAINTENANCE=false
PUSHGATEWAY_URL=http://pushgateway.lab.jmal.io:9091
PUSHGATEWAY_JOB=crucible_synthetic_ui
SYNTHETIC_TEMPLATE_NAME=synthetic-noop
