SYNTHETIC_USERNAME=synthetic@lab.jmal.io
SYNTHETIC_PASSWORD=<from vault: secret/synthetics/crucible/password>
SYNTHETIC_BASE_URL=https://crucible.jmal.io
PUSHGATEWAY_URL=http://pushgateway.lab.jmal.io:9091
PUSHGATEWAY_JOB=crucible_synthetic_ui
# Uncomment + set once the synthetic-noop template ships (S1.2):
# SYNTHETIC_TEMPLATE_NAME=synthetic-noop
